<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjut.hotel.repository.CustomerOrderMapper">
    <resultMap id="BaseResultMap" type="cn.zjut.hotel.domain.CustomerOrder">
        <id column="customer_order_id" jdbcType="BIGINT" property="customerOrderId"/>
        <result column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="check_customer_id_card" jdbcType="BIGINT" property="checkCustomerIdCard"/>
        <result column="room_no" jdbcType="VARCHAR" property="roomNo"/>
        <result column="customer_order_check_In_time" jdbcType="TIMESTAMP" property="customerOrderCheckInTime"/>
        <result column="customer_order_leave_time" jdbcType="TIMESTAMP" property="customerOrderLeaveTime"/>
        <result column="is_living" jdbcType="TINYINT" property="isLiving"/>
    </resultMap>
</mapper>
