<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjut.hotel.repository.HotelWaiterMapper">
    <resultMap id="BaseResultMap" type="cn.zjut.hotel.domain.HotelWaiter">
        <id column="waiter_id" jdbcType="BIGINT" property="waiterId"/>
        <result column="waiter_no" jdbcType="VARCHAR" property="waiterNo"/>
        <result column="waiter_name" jdbcType="VARCHAR" property="waiterName"/>
        <result column="is_male" jdbcType="TINYINT" property="male"/>
        <result column="begin_work_time" jdbcType="TIME" property="beginWorkTime"/>
        <result column="end_work_time" jdbcType="TIME" property="endWorkTime"/>
        <result column="work_day" jdbcType="VARCHAR" property="workDay"/>
        <result column="waiter_password" jdbcType="VARCHAR" property="waiterPassword"/>
    </resultMap>
</mapper>
