<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjut.hotel.repository.HotelAdminMapper">
    <resultMap id="BaseResultMap" type="cn.zjut.hotel.domain.HotelAdmin">
        <id column="admin_id" jdbcType="BIGINT" property="adminId"/>
        <result column="admin_no" jdbcType="VARCHAR" property="adminNo"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="is_male" jdbcType="TINYINT" property="male"/>
        <result column="admin_duty" jdbcType="VARCHAR" property="adminDuty"/>
        <result column="admin_password" jdbcType="VARCHAR" property="adminPassword"/>
    </resultMap>
</mapper>
