<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjut.hotel.repository.RoomMapper">
    <resultMap id="BaseResultMap" type="cn.zjut.hotel.domain.Room">
        <id column="room_id" jdbcType="BIGINT" property="roomId"/>
        <result column="room_no" jdbcType="VARCHAR" property="roomNo"/>
        <result column="room_type_name" jdbcType="VARCHAR" property="roomTypeName"/>
        <result column="room_detail" jdbcType="VARCHAR" property="roomDetail"/>
        <result column="is_empty" jdbcType="TINYINT" property="isEmpty"/>
    </resultMap>
</mapper>
